<section class="breadcramps">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <nav>
                    <ul class="d-flex">
                        <li class="items "><a href="{{home_link}}">{{home }}</a></li>
                        <li class="items"><a href="{{page_1_link }}">{{page_1 }}</a></li>
                        <li class="items active"><a href="{{ page_2_link }}">{{ page_2 }}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>