<section class="news-stories pt-5 pb-3">
    <div class="container p-0">
        <div class="col-12 heading">
            <h2>{{ discover_section_title }}</h2>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-12 mx-auto mt-2">
                <div class="news-and-stories owl-carousel owl-theme">
                    {{discoveries}}
 
                
                    <div class="card p-0" style="background: url('{{ image.url }}')">
                        <a href="{{ cta_link }}">
                            <span class="read-more up-btn">
                                <i class="fas fa-arrow-up"></i>
                            </span>
                            <div class="content-area">
                                <h4>{{ headline_text }}</h4>
                                <p>{{ text }}</p>
                            </div>
                        </a>
                    </div>
                   {{/discoveries}}
                   

                </div>
            </div>
        </div>
    </div>
</section>