<section class="bg-grey pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mid-navigation mb-5 d-flex align-items-center">
                <nav class="inside-tabs">
                    <ul>
                        <li><a class="{{tab_status}}" href="{{internship_tab_link}}">{{tab_name}}</a></li>
                        <li><a class="{{tab_two_status}}"href="{{graduate_link}}">{{second_tab_name}}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7 content-section">
                <h3>{{internship_title }}</h3>
                <p>{{internship_description }}</p>
                <a href="{{internship_link }}" class="btn btn-main btn-red"><span>{{cta_text}}<i class="fas fa-long-arrow-up"
                            aria-hidden="true"></i></span></a>
            </div>
            <div class="col-12 col-lg-5">
                <img src="{{ image }}" class="rounded-3" alt="How it Works Britam" width="100%" />
            </div>
        </div>
    </div>
</section>