<section class="main-banner  careers-banner mini-banner">

    <div class="main-banner-full owl-carousel owl-theme h-100">
        <div class="container-fluid image-holder h-100" style="background: url('{{ header_image }}') no-repeat center center">
            <div class="container h-100 p-0">
                <div class="row align-items-center h-100">
                    <div class="col-12 col-md-6 p-0 content-banner-holder">
                        <h1>{{header_headline_text }}</h1>
                        <p>{{header_tagline}}</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
     
</section>