<article class="mid-section-content bg-grey">
    
        <div class="container">
            <div class="row">
             
                <div class="col-12 col-lg-8 content-section">
                    <h4>{{title }}</h4>
                    <p>{{description }}</p>
                        <ul>
                            {{list}}
                            <li>{{value}}</li>
                            {{/list}}
                        
                        </ul>
                </div>
            
                <div class="col-12 col-lg-4">
                    <img src="{{ image }}" class="rounded-3" alt="How it Works Britam" />
                </div>
            </div>
        </div>
       
    </article>