
<section class="bg-grey pb-3">
    <div class="container">
        <div class="row p-2">
            <div class="col-12 card full-card">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <img src="images/sustainability-report.jpg" class="rounded-3" alt="Britam Website Join Us">
                    </div>
                    <div class="col-12 col-md-6 p-4">
                        <h4>{{ title }}</h4>
                        <p>Our sustainability report provides a comprehensive look at our efforts to minimize our
                            impact and support the well-being of communities across the region.</p>
                        <a href="javascript:void(0)" class="btn btn-readmore">Download 2023 Report <i
                                class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>