<section class="bg-grey pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7 content-section">
                {{article }}
                <a href="{{cta_url}}"class="btn btn-main btn-red"><span>{{cta_text}}<i class="fas fa-long-arrow-up"
                            aria-hidden="true"></i></span></a>
            </div>
            <div class="col-12 col-lg-5">
                <img src="{{ image }}" class="rounded-3" alt="How it Works Britam" width="100%" />
            </div>
        </div>
    </div>
</section>