<section class="{{background_color}} statistics pt-5 pb-3">
    <div class="container p-0">
        <div class="row">
            <div class="col-12 col-md-7 mx-auto text-center heading">
                <h2>{{ stats_section_title}}</h2>
                {{if text}}
                <p>{{text}}</p>
                {{/if}}
            </div>
            <div class="col-12 mx-auto mt-3 p-0">

               
                <div class="five-cards icon-card-slider slidenav-left owl-carousel owl-theme text-center">
                    {{ stats }}
 
                        <div class="card">
                            <span class="icon">
                                
                                <img src="{{ icon.url }}" alt="Britam" />
                            </span>
                            <h3>{{ stats }}</h3>
                            <p>{{ stats_description }}</p>
                        </div>

                    {{/stats }}
                    
                </div>
            </div>
        </div>
    </div>
</section>