<section class="bg-grey pb-3">
    <div class="container">
        <div class="row p-2">
            <div class="col-12 card full-card">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <img src="{{image}}" class="rounded-3" alt="Britam Website Join Us">
                    </div>
                    <div class="col-12 col-lg-6 p-4">
                        <h4>{{title}}</h4>
                        <p>{{description}}</p>
                        <a href="{{pdf}}" class="btn btn-readmore">{{download_cta}} <i
                                class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>