<section class="blue-shade-bg pt-5 pb-5 full-card dark-dots">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-7 p-4 pl-0 content-padding heading">
                <h2>{{title}}</h2>
                <p>{{description}}</p>

                <div class="owl-theme owl-carousel four-cards pt-4">
                
               {{icons}}
                    <div class="values text-center">
                        <span class="icon-holder"><img src="{{ image_icon }}"
                                alt="Britam Respect Culture" /></span>
                        <h3>{{title}}</h3>
                    </div>
                {{/icons}}
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <img src="{{ banner_image }}" class="rounded-3" alt="Britam Website Join Us">
            </div>
        </div>
    </div>
</section>