<footer class="main-footer pt-5 pb-5">
    <div class="container">
        <div class="row">
           
            <div class="col-12 social-icons text-center">
                <ul class="d-flex align-items-center justify-content-center">
                     
                    
                        
                        <li><a href=""><i class=""></i></a></li>
  
                
                    
                </ul>
            </div>
            <div class="row footer-last">
                <div class="col-12 copyright text-center">

                    
                    <ul>
                       
                        <li><a href=""></a></li>
                      
                       
                    </ul>
                </div>
            </div>
        </div>
        <span class="footer-line"></span>
        <div class="row pt-4 footer-last">
            <div class="col-12">
                <ul class="d-flex align-items-center justify-content-between">
                    <li>© 2023 Britam. All Rights Reserved.</li>
                    <li>Regulated by the Insurance Regulatory Authority</li>
                </ul>
            </div>
        </div>
    </div>
</footer>