<Navbar class="scrollheader headers">
    <div class="container">
        <div class="row">
            <nav class="classy-navbar justify-content-between" id="roamingnav">
              
                <!-- Logo -->
                
                <a class="nav-brand mainlogo" href="/"><img src="{{ site_settings.website_logo:url }}" class="web-logo" alt="{{ site_settings.website_logo.alt }}"></a>

                <!-- Mobile Serach and Country -->
                <div class="menu-btnarea d-none">
                    <button class="btn btn-main">
                        <span><i class="fa-sharp fa-solid fa-earth-americas"></i> <i
                                class="fa-solid fa-caret-down"></i></span>
                    </button>
                </div>
                <!-- Mobile Serach and Country -->

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- Nav Start -->
                    <div class="classynav">
                       
                        <a class="mobile-logo" href="/"><img src="{{ site_settings.website_mobile_logo.url }}" class="web-logo" alt="{{ site_settings.website_mobile_logo.alt }}">
                        </a>
                        <ul id="nav">
                           
                            
                            {{ nav:group_main_menu }}
                           
                            <li>
                                
                                <a  class="page-list-title " {{ if is_current || is_parent }} class="page-list-title active" {{ /if }} href="{{ url }}">{{ title }}</a>
                                
                                {{ if children }}
                                <ul class="megamenu--mega dropdown">
                                    {{ children }}
                                    <li><a class="page-list-title" href="{{ url }}">{{ title }}</a></li>
                                    {{/children }}
                                    
                                </ul>
                                {{/if }}
                                    
                               
                                
                            </li>

                            {{ /nav:group_main_menu }}
                           
                        </ul>

                        <div class="menu-btnarea">
                           
    
                            <a class="btn btn-main search" href="">
                                <span><i class="fa-sharp fa-solid fa-magnifying-glass"></i>Search</span>
                            </a>
                               
                               
                            <button class="btn btn-main country-desktop">
                                <span>Choose your country <i class="fa-sharp fa-solid fa-earth-americas"></i> <i
                                        class="fa-solid fa-caret-down"></i></span>
                            </button>
                        </div>
                    </div>
                    <!-- Nav End -->
                </div>
              
            </nav>
            

        </div>
    </div>
</Navbar>
